<div class="masthead">
	<ul class="nav nav-pills pull-right">
		<li class="active">
			<%= link_to "Home", root_url%>
		</li>
		<li>
			<%= link_to "Kommentare", root_url << "#comments"%>
		</li>
		<li>
			<%= link_to "Kontakt", "mailto:hb@enovate.de"%>
		</li>
	</ul>
	<h3 class="muted">BA Stundenplan2CAL</h3>
</div>